<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- UiPath Official feed - required for UiPath.Activities.Api (Workflow Analyzer SDK). See: https://docs.uipath.com/sdk/other/latest/developer-guide/building-workflow-analyzer-rules -->
    <add key="UiPath-Official" value="https://pkgs.dev.azure.com/uipath/Public.Feeds/_packaging/UiPath-Official/nuget/v3/index.json" protocolVersion="3" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
